@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quando', serif;
}

body {
  background: #9DB1AA;
  color: #FFFFFF;
}

nav {
  height: 100px;
  background-image: url(../img/shapes-top.svg);
  background-image: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

header {
  width: 70%;
  margin: 40px auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
  margin: 100px auto 150px;
}

.initials,
h1 {
  font-size: 60px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}

.about a {
  text-decoration: overline;
  text-decoration-color: #FFECB1;
}

.about a:hover {
  background: #FFECB1;
  color: #9DB1AA;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.links a {
  text-decoration: none;
}

.links a.active {
  text-decoration: overline;
  color: #FFECB1;
}

.socials {
  display: flex;
  gap: 30px;
  font-size: 16px;
  align-items: center;
}

.socials a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.btn {
  display: flex;
  padding: 10px 45px;
  color: #9DB1AA;
  background: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

a {
  color: #FFFFFF;
}

footer {
  height: 100px;
  background-image: url(../img/shapes-bot.svg);
  background-image: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.about ol {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 575.98px) {
  .links {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  main {
    width: 90%;
  }
}

@media (max-width: 991.98px) {
  .about span {
    line-height: 1.8;
  }

  .socials {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}