@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  color: #252525;
}

.logo img {
  height: 50px;
  transform: translateX(-20px) rotate(-3deg);
}

nav {
  height: 100px;
  background-image: url(../img/shapes-top.svg);
  background-image: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 40px auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 100px auto 150px;
}

h1 {
  font-size: 60px;
}

.about {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 27px;
  line-height: 1.8;
}

.open {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 15px;
  color: rgb(31, 205, 34);
  font-size: 18px;
}

.about a {
  text-decoration: underline;
  font-weight: bold;
}

.about a:hover {
  background: #FFECB1;
}

.vibrate {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(31, 205, 34);
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 1);
  animation: anim-vibrate 2s infinite;
}

@keyframes anim-vibrate {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(31, 205, 34, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0.6rem rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.links {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center;
  border-top: 1px solid #252525;
  padding-top: 40px;
}

.socials a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: bold;
}

.socials a:hover {
  border-bottom: 2px solid #252525;
  /* transform: translateX(-20px) rotate(-3deg); */
}

.btn {
  display: flex;
  padding: 14px 45px;
  background: #FFECB1;
  text-decoration: none;
  font-size: 22px;
}

.btn:hover {
  background: white;
  border: 1px solid #252525;
}

a {
  color: #252525;
}

footer {
  height: 100px;
}

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  gap: 30px;
  margin-top: 60px;
}

form div {
  gap: 20px;
}

label {
  /* font-size: 14px; */
  color: #252525;
}

input,
textarea {
  border: none;
  background: transparent;
  font-size: 20px;
  border-bottom: 1px solid #252525;
  outline: none;
  color: #252525;
}

button {
  border: none;
  background: #FFECB1;
  font-size: 18px;
  color: #252525;
  padding: 12px 45px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: white;
  border: 1px solid #252525;
  /* color: #FFECB1; */
}

.send-btn {
  flex-direction: row;
}

.project-heading {
  font-size: 45px;
}

.project-img {
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
  gap: 10px;
}

.project-img img {
  height: 450px;
}

.heading {
  text-decoration: underline;
}

.description {
  font-size: 18px;
  line-height: 1.8;
}

.case {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.case-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.case-section img {
  width: 100%;
}

.project-show {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.project-show img {
  width: 100%;
}

.mt-5 {
  margin-top: 80px;
}

.mb-5 {
  margin-bottom: 50px;
}

.pjt-info {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pjt-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pjt-info div span {
  font-size: 15px;
  color: #858EA0;
}

.app-flex {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: center;
}

.items-img {
  flex: 1;
}

.items-desc {
  flex: 2;
}

@media (max-width: 575.98px) {
  .project-heading {
    font-size: 25px;
  }
  
  .project-heading span {
    font-size: 18px;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .links {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  .about {
    font-size: 20px;
  }

  .app-flex {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  main,
  header {
    width: 90%;
  }
}

@media (max-width: 991.98px) {
  .about span {
    line-height: 1.8;
  }

  .socials {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-flex {
    gap: 30px;
  }
}
