body {
  /* background-color: #0e141b; */
  background: #343849;
  color: white;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.2) !important;
}

.my-products {
  background: #282a37;
}

.arrow-pos {
  top: 0;
  right: 0;
  padding: 25px;
}

.img-holder {
  height: 350px;
  overflow: hidden;
}

.rotated-arrow {
  transform: rotateZ(45deg);
}

.bg-fair-dark,
.bg-fair {
  background: #343849;
}

.bg-fair-dark:hover {
  background: #ffc107;
}

.pdt-name {
  text-transform: uppercase;
}

.pdt-badge {
  right: 0;
  bottom: 0;
  padding: 10px 20px 15px;
  background: #282a37;
}

.blog-read {
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}