* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #181818;
  background-image: url('images/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 100px;
}

.logo {
  font-family: 'AvertaStd-Bold';
  font-size: 24px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo span {
  color: #55E6A5;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border: 1px solid #55E6A5;
  background: transparent;
  font-family: 'AvertaStd-Regular';
  font-size: 16px;
  color: #55E6A5;
  text-decoration: none;
}

.button img {
  height: 22px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  width: 30%;
  padding: 15px 0;
}

.prof {
  width: 150px;
}

.social {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 20px 0 30px;
  padding-bottom: 20px;
}

.social a { 
  text-decoration: none;
  margin: 0 20px;
}

.social img {
  height: 20px;
}

.about {
  width: 45%;
}

.badge {
  margin: 0 0 20px;
  padding: 2px 15px;
  display: inline-block;
  background: #55E6A5;
  font-family: 'AvertaStd-Bold';
  font-size: 14px;
  color: #181818;
}

.content {
  font-family: 'AvertaStd-Regular';
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.projects {
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin-bottom: 100px;
}

.projects section {
  width: 400px;
  height: 520px;
  border: 2px solid #55E6A5;
  position: relative;
  margin-right: 15px;
  flex-shrink: 0;
}

.projects section:hover {
  background: #55E6A5;
}

.projects span {
  position: absolute;
  color: #181818;
  background: #55E6A5;
  font-family: 'AvertaStd-Bold';
  font-size: 14px;
  color: #181818;
  padding: 2px 15px;
}

.projects div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #55E6A5;
  padding: 15px 20px 0 20px;
}

.projects a {
  display: block;
  font-family: 'AvertaStd-Bold';
  font-size: 14px;
  color: #181818;
  margin-bottom: 15px;
}

.scroll {
  display: flex;
  margin-bottom: 20px;
  justify-content: end;
}

.scroll a {
  display: flex;
  align-items: center;
  font-family: 'AvertaStd-Bold';
  font-size: 15px;
  color: #55E6A5;
}

.scroll img {
  margin-left: 5px;
}

footer {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'AvertaStd-Regular';
  font-size: 14px;
}

.migas,
.storytime,
.studybuddy,
.posha,
.ulist {
  background: url('images/MiGasScreens.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.storytime {
  background: url('images/Storytime.svg');
}

.studybuddy {
  background: url('images/Studybuddy.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.posha {
  background: url('images/Posha-Account.svg');
}

.ulist {
  background: url('images/Ulist.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}