@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro&display=swap');


* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, h2 span, .proj {
  font-family: 'Montserrat', sans-serif;
}

body {
  /* background-color: #0e141b; */
  background: #343849;
  color: white;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.2) !important;
}

.my-products {
  background: #282a37;
}

.arrow-pos {
  top: 0;
  right: 0;
  padding: 15px;
}

.img-holder {
  height: 350px;
  overflow: hidden;
}

.rotated-arrow {
  transform: rotateZ(45deg);
}

.bg-fair-dark,
.bg-fair {
  background: #343849;
}

.nakitto {
  line-height: 1;
  background: #343849;
  right: -2em;
  top: 0;
  padding: 15px 20px ;
}

.proj {
  line-height: 0.5;
  background: #343849;
  left: 0;
  bottom: 1em;
  padding: 20px 40px 20px 40px;
}

.bg-fair-dark:hover {
  background: #ffc107;
}

.pdt-name {
  text-transform: uppercase;
}

.pdt-badge {
  right: 0;
  bottom: 0;
  padding: 10px 20px 15px;
  background: #282a37;
}

.project {
  height: 240px;
}

.books-app,
.todo-app,
.foodmood-app,
.quizzy-app,
.leaderboard-app {
  background-image: url(img/books.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-app {
  background-image: url(img/todo.png);
}

.leaderboard-app {
  background-image: url(img/leaderboard.png);
}

.foodmood-app {
  background-image: url(img/foodmood.png);
}

.quizzy-app {
  background-image: url(img/quizzy.png);
}

.bg-trans {
  background:rgba(0, 0, 0, 0.4);
}

.blog-read {
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}

.text-muted {
  color: rgba(255, 255, 255, 0.6) !important;
}